<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
   <h13> Shifter </h13>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Text link -->

      <%= link_to "All Shift", shifts_path, class: "navbar-wagon-item navbar-wagon-link" %>



    <!-- Button (call-to-action) -->

    <%= link_to "ADD Shift", new_shift_path, class:"navbar-wagon-item navbar-wagon-button btn"  %>
    <%= link_to "ADD worker", new_worker_path, class:"navbar-wagon-item navbar-wagon-button btn"  %>






 
</div>

</div>